---
layout: main
---
<div class="header"> FaceForensics</div>
<p>Image manipulation is not a newly invented activity. In fact, it is <a html="https://www.youtube.com/watch?v=SXe9WCeccOw">nearly as old as photography itself</a>. But it was never a simple task to perform. Despite helping tools, such as photoshop, creating indistinguishable duplicates of existing images is tricky. Even more so, if one would want to alter a video instead of a single image. Nevertheless, the movie industry has spent years and a lot of money trying to come close to this illusion, and humans are captivated by such creations.</p>

<p>But, as in other domains, the landscape changed with the rise of Deep Learning. While generating arbitrary image content is still a tricky task, which will require way more research to achieve, creating manipulated face regions is rather easy. This is due to the fact that the range of facial expressions is pretty constrained. In fact, it provides one of the best testing grounds for generative methods and it didn't take too long for people to make such algorithms public and devise applications usable by the layman: so-called <b>Deepfakes</b>. With only a few videos or a collection of images of two persons, applications can create either face-swapping between those two or control the facial expressions. </p>

<p>Both applications have severe possible consequences which give rise to my research. While Deep Learning and advances in other graphic-related fields gave rise to this new problem, they can also be applied to detect such manipulations. In my works, I tackle the issues of how to create the data to train such detection methods, propose approaches to use said material, as well as other, less supervised, ways that can be evaluated on the datasets we created.</p>
<p><b>Publications:</b></p>
{% for post in site.tags.faceforensics %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
